@use '@angular/material' as mat;

// theme.scss — use built-in cyan as closest to teal
$mausam-theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: mat.$cyan-palette,
    ),
    typography: (
      brand-family: 'Nunito',
      plain-family: 'Nunito',
    ),
    density: (
      scale: 0,
    ),
  )
);

$mausam-dark-theme: mat.define-theme(
  (
    color: (
      theme-type: dark,
      primary: mat.$cyan-palette,
    ),
    typography: (
      brand-family: 'Nunito',
      plain-family: 'Nunito',
    ),
    density: (
      scale: 0,
    ),
  )
);
