.container {
  padding: 0 1rem;
}

.heading {
  line-height: 100%;
  text-wrap: balance;
}

.description {
  text-wrap: balance;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1em;

  mat-form-field,
  button {
    width: 100%;
  }
}
